<% include partials/header %>

<div class= "ui main container">
        <div class="ui centered grid container">
                <div class="nine wide column">
                        <h2>Login page</h2>
                        <form class="ui form" action="/login" method ="POST">
                            <div class="field"><input type="text" name="username"  placeholder="Username"></div>
                            <div class="field"><input type="Password" name="password" placeholder="password"></div>
                            <button class="ui primary labeled icon button" ><i class="unlock alternate icon"></i>Login</button>Or <a href="/register">Sign up!</a>
                        </form>
                    </div> 
        </div>
</div>