<% include ../partials/header %>
<div class="ui main class container segment">
        <div class="ui huge header">What is your Questions?</div>
        <form class="ui form" action="/campgrounds" method="POST" enctype="multipart/form-data">
            <div class="ui field">  
                <label>Question title</label>  
                <input type="text" name="campground[name]">  
            </div>  
            <div class="ui field"> 
                <label for="image">Image</label>  
                <input type="file" id="image" name="image" accept="image/*" >  
            </div>
            <div class="ui field">
                <label>Description</label>
                <textarea name="campground[description]"></textarea>
            </div>
            
            <input class="ui basic blue button" type="submit" >
        </form>
        
    </div>
<% include ../partials/footer %>